mixin count-selector()
  .count-selector
    span Count
    a(href="") 250
    a(href="") 1000
    a(href="") 2000
    a(href="") 5000
    a(href="") 8000
    a(href="") 50000
    a(href="") 100000
    a(href="") 200000
    a(href="") 500000
    a(href="") 1000000
